.background  {
Width: 100%;
height: 650px;
background-color: #0f0e28;
background-image:
radial-gradient(at 115% 40%, hsla(158, 100%, 33%, 1) 0px, transparent 50%),
radial-gradient(at -25% 60%, hsla(158, 100%, 33%, 1) 0px, transparent 50%);
}

